h1, h2 {
  color: $green;
}

#tagline {
  color: $green-highlight;
}

body {
  font-family: 'Raleway', sans-serif;
}

p, a {
  font-family: "Open Sans", sans-serif;
}

a.contact {
  display: block;
}


@media screen and (max-width: $medium) {
  //mobile
  h1, h2 {
    font-size: 2.25rem;
  }

  h2 {
    margin: 2.5rem 0 1.875rem 1.25rem;
  }

  p {
    margin: 0 0 1.875rem 1.25rem;
    width: 90%;
    font-size: 1rem;
    line-height: 1.3rem;
  }

  a.contact {
    margin: 0 0 0.625rem 1.25rem;
    font-size: 1rem;
  }

  .subtitle {
    margin: 1.875rem 0 1.875rem 1.875rem;
    font-size: 2rem;
  }
}
@media screen and (min-width: $medium) {
  //desktop
  h1, h2 {
    font-size: 3rem;
  }

  h2 {
    margin: 4.375rem 0 3.125rem 1.875rem;
  }
  #page-title {
    margin-top: 1.25rem;
  }

  p {
    margin: 0 0 1.875rem 1.875rem;
    width: 90%;
    font-size: 1.125rem;
    line-height: 1.4rem;
  }

  a.contact {
    margin: 0 0 0.625rem 1.875rem;
    font-size: 1.25rem;
  }

  .subtitle {
    margin: 2.5rem 0 1.875rem 1.875rem;
    font-size: 2rem;
  }
}
