h1 {
  color: $white;
}

h2 {
  color: $mid;
  font-family: 'DM Serif Display', serif;
}

body {
  font-family: 'Noto Serif', serif;
}

a.contact {
  display: block;
}


@media screen and (max-width: $medium) {
  //mobile
  h1{
    font-size: 4rem;
  }

  h2 {
    font-size: 2.25rem;
  }

  h2 {
    margin: 2.5rem 0 1.875rem 1.25rem;
  }

  p {
    margin: 0 0 1.875rem 1.25rem;
    width: 90%;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  a.contact {
    margin: 0 0 0.625rem 1.25rem;
    font-size: 1rem;
  }

  .subtitle {
    margin: 1.875rem 0 1.875rem 1.875rem;
    font-size: 2rem;
  }
}
@media screen and (min-width: $medium) {
  //desktop
  h1{
    font-size: 6.5rem;
  }

  h2 {
    font-size: 3rem;
  }

  h2 {
    margin: 4.375rem 0 3.125rem 1.875rem;
  }
  #page-title {
    margin-top: 1.25rem;
  }

  p {
    margin: 0 0 1.875rem 1.875rem;
    width: 90%;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  a.contact {
    margin: 0 0 0.625rem 1.875rem;
    font-size: 1.25rem;
  }

  .subtitle {
    margin: 2.5rem 0 1.875rem 1.875rem;
    font-size: 2rem;
  }
}
