body {
	background-color: $background;
  min-width: $small;
}

.hero{
  margin: 0 auto 4rem auto;
  width: calc(100% - 2rem);
  height: calc(100vh - 2rem);
  background:
  linear-gradient(
          to bottom,
          rgba(166,164,99,0),
          rgba(58,57,14,1)
      ),
    url(/img/library.jpg);
    background-size: cover;
    background-position: center center;
}
.hero-name {
  position: relative;
}
.hero-text {
  display: block;
  margin-right: 0;
}
.hero-name {
    position: absolute;
    bottom: 5vh;
    margin-left: 0.5rem;
  }

.pdf-container {
  width: 80%;
  margin: 0 auto;
}

.work-img {
  border: 1px solid $black;
  margin-bottom: 2.5rem;
	max-width: 100%;
	height: auto;
}

.videowrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 1.875rem;
	margin-left: 1.875rem;
	height: 0;
}

.videowrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 95%;
	height: 95%;
}

.mobile-img {
	max-width: 12.5rem;
}

//work tiles
.project-container, .work-img-container {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
	align-items: center;
  width: 100%;
  margin: 0 auto;
}

.project {
  text-align: center;
  background-color: $background-alt;
  color: $white;
  border-radius: 0.25rem;
}

@media screen and (max-width: $medium) {
  //mobile
  .project {
    margin: 0 0.75rem 1.875rem 1rem;
    height: 10.4375rem; //134x167
    width: 8.375rem;
  }
  .project-img {
  	height: 8rem; //128px
  	width: 8rem;
    margin-top: 0.125rem;
  }
  .project-title {
    margin-top: 0.5rem;
    font-size: 1.125rem;
  }
}
@media screen and (min-width: $medium) {
  //desktop
  .project {
    margin: 0 1.875rem 4.375rem 1.875rem;
    height: 15.125rem;
    width: 12.75rem;
  }
  .project-img {
  	height: 12.5rem; //200px
  	width: 12.5rem;
    margin-top: 0.125rem;
  }
  .project-title {
    margin-top: 0.5rem;
    font-size: 1.25rem;
  }
  .res-container {
    border: 1px solid $black;
  }
}


.footer {
  height: 2rem;
  font-size: 0.75rem;
  text-align: right;
  padding: 0.9375rem 1.625rem 0 0;
  margin-top: 1.875rem;
  color: $white;
  background-color: $background-alt;
}

.header {
  height: 2.5rem;
  font-size: 1.25rem;
  padding: 0.625rem 0 0 1.25rem;
  color: $white;
  background-color: $background-alt;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}
