////////////////////////////////////////////////////////////////////////////////
$green: #9ea540;
$green-highlight: #f3ff49;
$black: #1F1E02;
$white: #ffffff;
$grey: #565656;
$mid: #545320;
$light: #A6A463;
$background: #fdfdf9;
$background-alt: #545320;

$small: 320px;
$medium: 600px;
$large: 1024px;
////////////////////////////////////////////////////////////////////////////////
@import "reset", "layout", "fonts";
