////////////////////////////////////////////////////////////////////////////////
$green: #9ea540;
$green-highlight: #f3ff49;
$black: #151700;
$white: #ffffff;
$grey: #565656;
$background: #fdfdf9;
$background-alt: #f0f1e8;

$small: 320px;
$medium: 600px;
$large: 1024px;
////////////////////////////////////////////////////////////////////////////////
@import "reset", "layout", "fonts";
